<div class="container-fluid-md pl-4 pr-4">
    <div class="all-sections-container">
        <section>
            <h2>My bookshelf</h2>
            <div class="container-portadas">
                <a href="#portadaImg" class="linkImg"><img src="https://d2p8jjwwnx090z.cloudfront.net/7db/eaf7e/684f/4f62/89ff/750c2f07b858/original/317213.jpg" alt="portada1 "></a>
                <a href="#portadaImg" class="linkImg"><img src="https://d2p8jjwwnx090z.cloudfront.net/7db/eaf7e/684f/4f62/89ff/750c2f07b858/original/317213.jpg" alt="portada2 "></a>
                <a href="#portadaImg" class="linkImg"><img src="https://d2p8jjwwnx090z.cloudfront.net/7db/eaf7e/684f/4f62/89ff/750c2f07b858/original/317213.jpg" alt="portada3 "></a>
                <a href="#portadaImg" class="linkImg"><img src="https://d2p8jjwwnx090z.cloudfront.net/7db/eaf7e/684f/4f62/89ff/750c2f07b858/original/317213.jpg" alt="portada4 "></a>
                <a href="#portadaImg" class="linkImg"><img src="https://d2p8jjwwnx090z.cloudfront.net/7db/eaf7e/684f/4f62/89ff/750c2f07b858/original/317213.jpg" alt="portada5 "></a>
                <a href="#portadaImg" class="linkImg"><img src="https://d2p8jjwwnx090z.cloudfront.net/7db/eaf7e/684f/4f62/89ff/750c2f07b858/original/317213.jpg" alt="portada6 "></a>
                <a href="#portadaImg" class="linkImg"><img src="https://d2p8jjwwnx090z.cloudfront.net/7db/eaf7e/684f/4f62/89ff/750c2f07b858/original/317213.jpg" alt="portada7 "></a>
            </div>
        </section>


    </div>
</div>